<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/styles.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- <script src="https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js"></script> -->
    <title>D3 Heat Map</title>
  </head>
  <body>
    <div class="container">
      <div id="title">
        Heat Map Charting Average Global Land Surface Temperature 1753-2015
      </div>
      <div class="svg-container">

      </div>
      <div id="legend">
        Temperature (ºC)
        <div id="colours">
          <div id="key-1" class="key"></div>
          <div id="key-2" class="key"></div>
          <div id="key-3" class="key"></div>
          <div id="key-4" class="key"></div>
          <div id="key-5" class="key"></div>
          <div id="key-6" class="key"></div>
          <div id="key-7" class="key"></div>
          <div id="key-8" class="key"></div>
          <div id="key-9" class="key"></div>
          <div id="key-10" class="key"></div>
          <div id="key-11" class="key"></div>
          <div id="key-12" class="key"></div>
        </div>
        <div id="text">
          <div class="key-text">1.7</div>
          <div class="key-text">2.7</div>
          <div class="key-text">3.7</div>
          <div class="key-text">4.7</div>
          <div class="key-text">5.8</div>
          <div class="key-text">6.8</div>
          <div class="key-text">7.8</div>
          <div class="key-text">8.8</div>
          <div class="key-text">9.8</div>
          <div class="key-text">10.8</div>
          <div class="key-text">11.9</div>
          <div class="key-text">12.9</div>
        </div>
      </div>
    </div>
    <script src="public/js/scripts.js"></script>
  </body>
</html>
